*{
    margin: 0px;
    padding: 0px;
}
.contain{
    background-color: rgb(103, 90, 73);
    display: flex;   
    align-items: center;
    list-style: none;
    justify-content: space-around;
    color: rgb(178, 199, 217);
}
.logo{
    font-size: 30px;
}
.menus{
    display: flex;
}
.menus li{
    font-size: 20px;
    padding: 18px 40px;
}
.menus li:hover{
    background-color: rgb(33, 27, 19);
}
/* This is main tag */
.body{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    height: 100vh;
    color: aliceblue;
    align-items: center;
    background-image:url(./358583560_1623350578164339_7686885198419391453_n.png),linear-gradient(45deg,#000,#000);
}
button{
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(9, 189, 129);
}
.btext p{
    margin-top: 5px;
}
.desgain{
    width: 400px;
    height: 250px;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 20px;
}
h1{
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
    color: #c6c0c0;
    padding: 10px;
}
.textp p{
    margin-top: 5px;
}
.box{
    width: 190px;
    height: 200px;
    background-color: #000;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 4px 4px 4px rgb(233, 31, 31);
}
.servic{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box h3{
    font-size: 50px;
    color: #d24040;
    margin-bottom: 5px;
}
.all{
    background-color: #080606;
}
.box p{
    margin-top: 10px;
}
.box b{
    font-size: 20px;
}
